*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release/exo-demo-release.apk
/.idea/shelf/exo_itg.xml
/app/release/output-metadata.json
/.idea/shelf/playkit.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/exo_itg/shelved.patch
/.idea/shelf/playkit/shelved.patch
/.idea/shelf/ss/shelved.patch
/.idea/shelf/ss.xml
